{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}
<h5>Home Cooked With Care is an website where you can expect to have quality food with content and pure hygiene.<br> 
We are moving on with a vision of getting our home makers into some profitable bussiness with the power that they already have. <br>
We hope to provide you with the best qualityful foods, maintianing hundred percent hygiene and satisfiaction in your day to day life while indulging yourself with loads of work pressure.<br>


As our mothers are best in maintaining hygiene , considering the food values and at the same time ensuring food taste for us , we are trying to connect them with the busy office workers or students who actually needs the nutretions in their everyday life but get lack of that. 
So, from our website you can order foods from any homemakers and ensure a healthy life. <br>

We are also providing Catering service from the home makers who are interested into this. For fmily functions or any program you can also order food from us. <br>

We are hopping to increase our website with new features where you can also get food receipes with full videos from the home makers who seems interested in sharing theit authentic recepies with us. <br>

Most importantly, with this website we are looking forward to help our home makres who wants to share their valuable times with us instead of some financial exchange. This will help to increase our social mobility and give independence to our women to help their dear ones.<br>

So, You can get the best quality of food with us for sure and also can participate us in this journey. Thanks a ton in advance.<br> 
</h5>{% endblock body %}